<div class="login">
	{{#if isFetched}}
		{{#if isGuest}}
			<a class="btn login-link">Login</a>
			<div class="tooltip login-tooltip" data-view="views/header/login"></div>
			<div class="login-small" data-view="views/login/small"></div>
		{{/if}}
		{{#if isUser}}
			{{#if avatar}}
				<img src="{{avatar}}" class="settings-icon img-circle" style="height: 30px">
            <div class="dropdown settings-dropdown">
					<ul class="dropdown-menu pull-right">
						<li><a class="logout-link" href="/logout">Logout</a></li>
					</ul>
				</div>
			{{else}}
				<a class="btn logout-link">Logout</a>
			{{/if}}
		{{/if}}
	{{/if}}
</div>